.about-me-text {
  color: #dee2e6;
  position: absolute;
  margin-top: -76rem;
  font-size: 20px;
  margin-left: 2rem;
  font-weight: 500;
  line-height: 1.85rem;
}

.well-designed {
  font-weight: 600;
}

.optimized {
  font-weight: 600;
}

.held {
  font-weight: 600;
}

.about-image {
  position: absolute;
  width: 190%;
  height: auto;
  margin-left: 40rem;
}

.about-me {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  // box-shadow: 20px 20px rgba(0, 0, 0, 0.5);
  text-shadow: 0px -42px rgba(255, 255, 255, 0.4);
  color: white;
  margin-top: 6.5rem;
  margin-left: 2rem;
}
