.cloud {
  margin-left: 41rem;
  width: 50%;
  height: auto;
  margin-top: -15rem;
}

// .nature-image {
//   margin-top: 20rem;
//   position: absolute;
//   margin-left: 10rem;
//   width: 50rem;
// }
